<div class="cv-page-container">

  <div class="left-panel">

    <div class="centered-infos">
      <h1>Robin Chaux</h1>
      <h2><em>Full Stack Developer</em></h2>

      <%= image_tag 'Robin_2.jpg', alt: 'Profile picture of Robin Chaux', class: "avatar" %>

      <p><svg class="icon-intro" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>robinvchaux@gmail.com</p>
      <p><svg class="icon-intro" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>+33 6 71 22 49 27</p>
      <p><svg class="icon-intro" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>Saint-Etienne, France</p>
      <span id="last-row-intro-margin-bottom">
        <a href="https://www.linkedin.com/in/robin-chaux-927367175/"><svg class="icon-intro" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>My LinkedIn</a>
        <a href="https://github.com/dashboard" ><svg class="icon-intro icon-margin-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 96c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96zM265.8 407.7c0-1.8 0-6 .1-11.6c.1-11.4 .1-28.8 .1-43.7c0-15.6-5.2-25.5-11.3-30.7c37-4.1 76-9.2 76-73.1c0-18.2-6.5-27.3-17.1-39c1.7-4.3 7.4-22-1.7-45c-13.9-4.3-45.7 17.9-45.7 17.9c-13.2-3.7-27.5-5.6-41.6-5.6s-28.4 1.9-41.6 5.6c0 0-31.8-22.2-45.7-17.9c-9.1 22.9-3.5 40.6-1.7 45c-10.6 11.7-15.6 20.8-15.6 39c0 63.6 37.3 69 74.3 73.1c-4.8 4.3-9.1 11.7-10.6 22.3c-9.5 4.3-33.8 11.7-48.3-13.9c-9.1-15.8-25.5-17.1-25.5-17.1c-16.2-.2-1.1 10.2-1.1 10.2c10.8 5 18.4 24.2 18.4 24.2c9.7 29.7 56.1 19.7 56.1 19.7c0 9 .1 21.7 .1 30.6c0 4.8 .1 8.6 .1 10c0 4.3-3 9.5-11.5 8C106 393.6 59.8 330.8 59.8 257.4c0-91.8 70.2-161.5 162-161.5s166.2 69.7 166.2 161.5c.1 73.4-44.7 136.3-110.7 158.3c-8.4 1.5-11.5-3.7-11.5-8zm-90.5-54.8c-.2-1.5 1.1-2.8 3-3.2c1.9-.2 3.7 .6 3.9 1.9c.3 1.3-1 2.6-3 3c-1.9 .4-3.7-.4-3.9-1.7zm-9.1 3.2c-2.2 .2-3.7-.9-3.7-2.4c0-1.3 1.5-2.4 3.5-2.4c1.9-.2 3.7 .9 3.7 2.4c0 1.3-1.5 2.4-3.5 2.4zm-14.3-2.2c-1.9-.4-3.2-1.9-2.8-3.2s2.4-1.9 4.1-1.5c2 .6 3.3 2.1 2.8 3.4c-.4 1.3-2.4 1.9-4.1 1.3zm-12.5-7.3c-1.5-1.3-1.9-3.2-.9-4.1c.9-1.1 2.8-.9 4.3 .6c1.3 1.3 1.8 3.3 .9 4.1c-.9 1.1-2.8 .9-4.3-.6zm-8.5-10c-1.1-1.5-1.1-3.2 0-3.9c1.1-.9 2.8-.2 3.7 1.3c1.1 1.5 1.1 3.3 0 4.1c-.9 .6-2.6 0-3.7-1.5zm-6.3-8.8c-1.1-1.3-1.3-2.8-.4-3.5c.9-.9 2.4-.4 3.5 .6c1.1 1.3 1.3 2.8 .4 3.5c-.9 .9-2.4 .4-3.5-.6zm-6-6.4c-1.3-.6-1.9-1.7-1.5-2.6c.4-.6 1.5-.9 2.8-.4c1.3 .7 1.9 1.8 1.5 2.6c-.4 .9-1.7 1.1-2.8 .4z"/></svg>My Github</a>
      </span>
    </div>

    <h3>Profile</h3>
    <div class="left-line"></div>

    <div class="right-panel-card text-justified">
      <p><strong>Junior Full-Stack developper</strong> with a background in Public Health.
        Recently graduated from Le Wagon intensive <strong>Web Development bootcamp</strong><br>
        Proficient in Ruby on Rails, JavaScript, and building full-stack applications. Passionate about leveraging technology to solve real-world problems</p>
    </div>

    <h3>Languages</h3>
    <div class="left-line"></div>

    <div class="right-panel-card">
    <ul>
        <li>
          English: Cambridge Assessment Test Level C2
        </li>
        <li>
          French: Native
        </li>
      </ul>
    </div>

    <h3>Projects</h3>
    <div class="left-line"></div>

    <div class="right-panel-card">
      <p><strong>Medical application</strong> (2024)</p>
      <ul>
        <li>
          Developed an app to help anesthesiologists manage anticoagulants during cardiac surgery
        </li>
      </ul>
    </div>

    <div class="right-panel-card">
      <p><strong>Green Bin</strong> (2024)</p>
      <ul>
        <li>
          Built a mobile app to help recycling using Ruby on Rails, APIs, ZXing, and more
        </li>
      </ul>
    </div>

    <div class="right-panel-card">
      <p><strong>Dogs for hire</strong> (2024)</p>
      <ul>
        <li>
          Created an AirBnB clone to rent dogs
        </li>
      </ul>
    </div>

  </div>

  <div class="right-panel">
    <h3>Education</h3>
    <div class="right-line"></div>

    <div class="right-panel-card">
      <p><svg class="icon-right-panel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M384 96V320H64L64 96H384zM64 32C28.7 32 0 60.7 0 96V320c0 35.3 28.7 64 64 64H181.3l-10.7 32H96c-17.7 0-32 14.3-32 32s14.3 32 32 32H352c17.7 0 32-14.3 32-32s-14.3-32-32-32H277.3l-10.7-32H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm464 0c-26.5 0-48 21.5-48 48V432c0 26.5 21.5 48 48 48h64c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H528zm16 64h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H544c-8.8 0-16-7.2-16-16s7.2-16 16-16zm-16 80c0-8.8 7.2-16 16-16h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H544c-8.8 0-16-7.2-16-16zm32 160a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg> <strong>Web Development</strong>, <em>Le Wagon</em></p>
      <p>04/2024 - 06/2024 | <em>Lyon, France</em></p>
      <ul>
        <li>
          Completed a 9-week, 400 hours intensive coding bootcamp
        </li>
        <li>
          Learned Ruby, Rails, JavaScript, HTML, CSS, SQL, APIs, and more
        </li>
        <li>
          Developed and pitched the Green Bin wep app in a team of 4
        </li>
      </ul>
    </div>

    <div class="right-panel-card">
      <p><svg class="icon-right-panel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 64H288c17.7 0 32 14.3 32 32v32c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32zm32 160a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM96 352a32 32 0 1 1 0-64 32 32 0 1 1 0 64zM64 416c0-17.7 14.3-32 32-32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H96c-17.7 0-32-14.3-32-32zM192 256a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zm64-64a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm32 64a32 32 0 1 1 -64 0 32 32 0 1 1 64 0zM288 448a32 32 0 1 1 0-64 32 32 0 1 1 0 64z"/></svg> <strong>Science PhD</strong>, <em>University of Jean-Monnet</em></p>
      <p>11/2020 - 11/2023 | <em>St-Etienne, France</em></p>
      <ul>
        <li>
          Developed statistical tools for individualizing drug therapy
        </li>
      </ul>
    </div>

    <div class="right-panel-card">
      <p><svg class="icon-right-panel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M142.4 21.9c5.6 16.8-3.5 34.9-20.2 40.5L96 71.1V192c0 53 43 96 96 96s96-43 96-96V71.1l-26.1-8.7c-16.8-5.6-25.8-23.7-20.2-40.5s23.7-25.8 40.5-20.2l26.1 8.7C334.4 19.1 352 43.5 352 71.1V192c0 77.2-54.6 141.6-127.3 156.7C231 404.6 278.4 448 336 448c61.9 0 112-50.1 112-112V265.3c-28.3-12.3-48-40.5-48-73.3c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3V336c0 97.2-78.8 176-176 176c-92.9 0-168.9-71.9-175.5-163.1C87.2 334.2 32 269.6 32 192V71.1c0-27.5 17.6-52 43.8-60.7l26.1-8.7c16.8-5.6 34.9 3.5 40.5 20.2zM480 224a32 32 0 1 0 0-64 32 32 0 1 0 0 64z"/></svg> <strong>State diploma of Specialist Medical Practitioner</strong></p>
      <p>11/2022 | <em>St-Etienne, France</em></p>
      <ul>
        <li>
          Specialized in Public Health
        </li>
        <li>
          PhD: Robust K-PD model for activated clotting time prediction and UFH dose individualisation during cardiopulmonary bypass
        </li>
      </ul>
    </div>

    <!-- <div class="right-panel-card">
      <p><strong>Master 2, Methodology and Statistics in Biomedical Research</strong>, <em>Paris-Saclay University</em></p>
      <p>09/2019 - 06/2020 | <em>Paris, France</em></p>
    </div> -->

    <h3>Skills</h3>
    <div class="right-line"></div>

    <div class="right-panel-card-skills">
      <span class="skills-pills red-pill">Ruby on Rails</span>
      <span class="skills-pills html-pill">HTML</span>
      <span class="skills-pills css-pill">Sass CSS</span>
      <span class="skills-pills js-pill">Javascript</span>
      <span class="skills-pills stimulus-pill">Stimulus</span>
      <span class="skills-pills git-pill">Git Hub</span>
      <span class="skills-pills sql-pill">SQL</span>
      <span class="skills-pills heroku-pill">Heroku</span>
      <span class="skills-pills csharp-pill">C#</span>
      <span class="skills-pills r-pill">R</span>
    </div>

    <h3>Professional Experience</h3>
    <div class="right-line"></div>

    <div class="right-panel-card">
      <p><strong>Freelance full-stack developer</strong></p>
      <p>Since 07/2024 | <em>Lyon, France</em></p>
      <ul>
        <li>
          Developed several professional web applications in Ruby on Rails
        </li>
      </ul>
    </div>

    <div class="right-panel-card">
      <p><strong>University Hospital Assistant, MD in Public Health</strong>,
        <em>Clinical Research, Innovation and Pharmacology Unit</em></p>
      <p>11/2022 - 12/2023 | <em>University Hospital of St-Etienne, France</em></p>
      <ul>
        <li>
          Led research methodology and biostatistics projects
        </li>
        <li>
          Published 11 peer-reviewed journals articles
        </li>
        <li>
          Pharmacokinetic/pharmacodynamic modeling
        </li>
        <li>
          Taught Public Health and statistics curriculums
        </li>
      </ul>
    </div>

    <div class="right-panel-card">
      <p><strong>Public Health medical intern</strong>,
        <em>Clinical Research, Innovation and Pharmacology Unit</em></p>
      <p>11/2017- 11/2022 | <em>University Hospital of St-Etienne, France</em></p>
      <ul>
        <li>
          Conducted epidemiology, biostatistics, and clinical research
        </li>
      </ul>
    </div>

    <!-- <div class="right-panel-card">
      <p><strong>Medical student</strong>, <em>Jacques Lisfranc University</em></p>
      <p>09/2013 - 09/2017 | <em>St-Etienne, France</em></p>
      <ul>
        <li>
          Completed rotations in various medical disciplines
        </li>
      </ul>
    </div> -->

    <h3>Personal Interests</h3>
    <div class="right-line"></div>

    <div class="right-panel-card-with-illustration">
      <%= image_tag 'Artery_Vein_Drawing.png', alt: 'Example of hand-made illustration', class: "illustration" %>
      <p><strong>Hand-drawn illustrations and scientific graphics.</strong> Enjoy creating soulful illustrations and short animated videos</p>
    </div>

  </div>

</div>
