<div class="cv-page-container">

  <div class="left-panel">

    <div class="centered-infos">
      <h1>Robin Chaux</h1>
      <h2><em>Full Stack Developer</em></h2>

      <%= image_tag 'Robin_2.jpg', alt: 'Profile picture of Robin Chaux', class: "avatar" %>

      <p>robinvchaux@gmail.com</p>
      <p>+33 6 71 22 49 27</p>
      <p>Saint-Etienne, France</p>
      <a href="https://www.linkedin.com/in/robin-chaux-927367175/">Robin Chaux on LinkedIn</a>
      <a href="https://github.com/dashboard">Robin Chaux on Github</a>
    </div>

    <h3>Profile</h3>
    <hr>
    <p><strong>Junior Full-Stack developper</strong> with a background in Public Health and statistic modelization. Recently graduated from Le Wagon intensive <strong>Web Development bootcamp</strong> and completed a group project building an application to make recycling easier. Looking forward to bringing a client-centric mindset and fresh ideas to a dynamic team</p>

    <h3>Languages</h3>
    <hr>
    <p>English | French</p>

    <h3>Projects</h3>
    <hr>
    <p>Green Bin</p>
    <p>2024</p>
    <ul>
      <li>
        Application to help people recycle
      </li>
      <li>
        In teams of 4, we used Ruby on Rails, APIs, ZXing and more
      </li>
      <li>
        Further development planned: increase database for recycling spots outside of lyon, and non-alimentary food products
      </li>
    </ul>

    <p>Dogs for hire</p>
    <p>2024</p>
    <ul>
      <li>
        Application to rent dogs to pick up chicks
      </li>
      <li>
        With clients and dog owner's side
      </li>
      <li>
        Nothing
      </li>
    </ul>
  </div>

  <div class="right-panel">
    <h3>Education</h3>
    <hr>
    <p><strong>Web Development</strong>, <em>Le Wagon</em></p>
    <p>04/2024 - 06/2024</p>
    <ul>
      <li>
        9-week intensive coding bootcamp
      </li>
      <li>
        Learned Ruby, Rails, JavaScript, HTML, CSS, SQL, APIs, and more
      </li>
      <li>
        Designed, implemented and shipped to production a clone of AirBnB
      </li>
      <li>
        Pitched idea for wep app Green Bin and completed the project in 2 weeks in a team of 4
      </li>
    </ul>

    <p><strong>Science PhD</strong></p>
    <p>11/2020 - 11/2023</p>
    <ul>
      <li>
        Développement d’outils statistiques pour l’individualisation des thérapeutiques médicamenteuses
      </li>
      <li>
        Université of Jean-Monnet, Saint-Etienne
      </li>
    </ul>

    <p><strong>State diploma of Specialist Medical Practitioner</strong></p>
    <p>11/2022</p>
    <ul>
      <li>
        Specialized in Public Health
      </li>
      <li>
        PhD: Conception et évaluation d’un modèle K-PD robuste pour la prédiction de l’activated clotting time et l’individualisation de l’administration d’héparine non fractionnée lors de chirurgie cardiaque sous circulation extra-corporelle
      </li>
  </div>

</div>
