@media print {
  body {
      width: 8.25in;
      height: 11.75in;
      margin: 0 0 0 0;
  }
}

$background-color: #193141;
$secondary-color: #D3BFB7;

.cv-page-container {
  display: flex;
  flex-direction: row;

  margin: 0;
  margin-left: 0px;

  height: 100vh;

  h1, h2, h3, p, a, ul, li {
    margin:0;
  }
}

.left-panel {
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  width: 33vw;

  margin: 0;
  padding: 20px 30px 30px 30px;

  h1,h2, h3, hr {
    color: $secondary-color;
  }

  h3 {
    margin-top: 10px;
  }

  p, a, li {
    color: white;
  }

  ul {
    padding-left: 1em;
  }
}

.centered-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  h1, h2, span {
    margin-top: 10px;
  }

  p, a {
    margin-top: 5px;
  }
}

#last-row-intro-margin-bottom {
  margin-bottom: 10px;
}

.avatar {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-intro, .icon-right-panel {
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
}

.icon-intro {
  fill: white;
  margin-right: 5px;
}

.icon-right-panel {
  fill: $background-color;
}

.icon-margin-left {
  margin-left: 10px;
}

.text-justified {
  // text-align: justify;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 67vw;

  margin: 0px;

  margin: 20px 30px 30px 30px;

  h1, h2, h3, hr {
    color: $background-color;
  }

  h3 {
    margin-top: 10px;
  }

  ul {
    padding-left: 1.5em;
  }
}

.right-panel-card, .right-panel-card-with-illustration .right-panel-card-skills {
  display: flex;
  flex-direction: column;

  margin: 5px 0 5px 0;

  p, li {
    margin: 0 0 3px 0;
  }
}

.right-panel-card-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.right-panel-card-with-illustration {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.right-line {
  width: 100%;
  border: 1px solid $background-color;
  margin-bottom: 5px;
}

.left-line {
  width: 100%;
  border: 1px solid $secondary-color;
  margin-bottom: 5px;
}

.skills-pills {
  border-radius: 999px;
  padding: 5px 10px 5px 10px;
}

.right-title {
  color: $background-color;
  font-size: 1.2em;
}

.illustration {
  width: 100px;
  height: 60px;
}

.red-pill {
  background-color: #BF1803;
  color: white;
}

.html-pill {
  background-color: #E96228;
  color: white;
}

.css-pill {
  background-color: #2965F1;
  color: white;
}

.js-pill {
  background-color: #F0DB4F;
  color: black;
}

.stimulus-pill {
  background-color: #77E8B9;
  color: black;
}

.git-pill {
  background-color: black;
  color: white;
}

.sql-pill {
  background-color: #2583C9;
  color: white;
}

.heroku-pill {
  background-color: #634987;
  color: white;
}

.csharp-pill {
  background-color: #68217A;
  color: white;
}

.r-pill {
  background-color: #266ABD;
  color: white;
}

.tw-pill {
  background-color: #36B7F0;
  color: black;
}

* {
  font-family: "Lato", sans-serif;
}
