@media print {
  body {
      width: 8.25in;
      height: 11.75in;
      margin: 0 0 0 0;
  }
}

$background-color: #193141;
$secondary-color: #D3BFB7;

.cv-page-container {
  display: flex;
  flex-direction: row;

  margin: 0;
  margin-left: 0px;

  height: 100vh;

  h1, h2, h3, p, a, ul, li {
    margin:0;
  }

  ul {
    padding-left: 1em;
  }

  hr {
    width: 100%;
  }
}

.left-panel {
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  width: 40vw;

  margin: 0;
  padding: 40px 40px 40px 40px;

  h1,h2, h3, hr {
    color: $secondary-color;
  }

  h3 {
    margin-top: 10px;
  }

  p, a, li {
    color: white;
  }
}

.centered-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  h1, h2, span {
    margin-top: 10px;
  }

  p, a {
    margin-top: 5px;
  }
}

#last-row-intro-margin-bottom {
  margin-bottom: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-intro {
  width: 1.1em;
  height: 1.1em;
  fill: white;
  vertical-align: middle;

  margin-right: 5px;
}

.icon-margin-left {
  margin-left: 10px;
}

.text-justified {
  text-align: justify;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 60vw;

  margin: 0px;

  margin: 40px 40px 40px 40px;

  h1, h2, h3, hr {
    color: $background-color;
  }

  h3 {
    margin-top: 10px;
  }
}

.right-panel-card {
  display: flex;
  flex-direction: column;

  margin: 5px 0 5px 0;

  p, li {
    margin: 0 0 3px 0;
  }
}

.right-line {
  width: 100%;
  border: 1px solid $background-color;
  margin-bottom: 5px;
}

.left-line {
  width: 100%;
  border: 1px solid $secondary-color;
  margin-bottom: 5px;

}

* {
  font-family: Arial, Helvetica, sans-serif;

  h1, h2 {
    font-family: 'Times New Roman', Times, serif;
  }
}
